.contenedorBotonAnimatedNavBar{

    padding-top: 50px ;
    padding-left: 140px;
}

.contenedorNavbar{

    padding-top: 30px;
    padding-left: 100px;
    padding-right: 0px; 
    
}

.contenedorBotonNavbar{
    padding-top: 30px;
    padding-left: 271px;
    padding-right: 0px;
}

.contenedorLogoNav{
    padding-top: 30px;
    padding-left: 180px;
    padding-right: 20px;
}

.contenedorCategoriasNav{

    padding-top: 45px ;
    padding-left: 0px;
    padding-right: 40px;

}

.contenedorJoinBtn{


    padding-top: 45px ;
    padding-left: 150px;

}

.contenedorRegisterBtn{

    padding-top: 48px ;
    padding-left: 0px;
}

.contenedor-img-destacados{

    padding: 0px 0px;

}

.contenedor-destacados-txt1{

    text-align: center;
    padding-top: 15px;
    

}

.contenedor-cauga{

    padding-top: 5px;
    padding-left: 115px;

}

.contenedor-logo-footer{

    padding-top: 80px;
    padding-left: 175px;

}

.contenedor-conozcamos{

    padding-top: 80px;
    padding-left: 50px;


}

.contenedor-conozcamos-ul ul{


    padding-left: 16px;

}

.contenedor-conozcamos-li li{

    padding-top: 8px;
}

.contenedor-trabajemos-juntos{

    padding-top: 80px;
    padding-left: 20px;

}

.contenedor-trabajemos-juntos-ul ul{

    padding-left: 16px;

}

.contenedor-trabajemos-juntos-li li{

    padding-top: 8px;
}

.contenedor-conversemos{

    padding-top: 80px;
    padding-left: 170px;

}

.contenedor-btn-rrss{

    padding-top: 20px;
    padding-left: 170px;

}

.contenedor-btn-footer-help{

    padding-top: 20px;
    padding-left: 170px;

}