*{
    margin: 0;
    padding: 0;
    font-family: lato;

}


.slider-frame {
    width: 100%;
    height: 400px;
    margin: 0 auto 0;
    overflow: hidden;
    position: relative;

}   

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 600%;
    position: relative;
    left: 0;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    list-style: none;
    width: 16.66667%;
}

.slider-frame img {
    width: 100%;
    height: 400px;
}

@keyframes slide {
    0% {left: 0;}
    16.66667% {left: 0;}

    16.66667% {left: -100%;}
    33.33333% {left: -100%;}

    33.33333% {left: -200%;}
    50% {left: -200%;}

    50% {left: -300%;}
    66.66667% {left: -300%;}
    
    66.66667% {left: -400%;}
    83.33333% {left: -400%;}

    83.33333% {left: -500%;}
    100% {left: -500%;}

}

.header {
    height: 40px;
    overflow: hidden;
}

.list-menu ul li {
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    font-size: 1.1rem;
    text-size-adjust: 100%;
}

.headerA{
    
    font-weight: 100;
    line-height: 1.5;
    box-sizing: border-box;
    text-size-adjust: 100%;
    height: auto;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
    list-style: none;
    text-decoration: none;
    color: #fff;
  
}

.navbar-log ul li {

    list-style: none;
}

.navbar-search {

    position: relative;
    list-style: none;
}

.navbar-btn {

    list-style: none;
}

.barSearch input{

    flex: 1;
    width: 450px;
    padding: 15px 10px;
    border: 0;
    outline: 1px solid black;
    background: transparent;
    font-size: 20px;

}

.btnSearch button{

    border: 0;
    outline: 1px solid black;
    background: transparent;
    height: 53px;
    width: 60px;

}

.menu-btn {
    width: 25px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.menu-btn span {
  
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    transition: 0.5s;
}
.menu-btn span:nth-child(1) {
    top: 7%;
}
.menu-btn span:nth-child(2) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.menu-btn span:nth-child(3) {
     top: 80%;
}
.menu-btn.open span:nth-child(1) {
    transform: translate(8px, -8px);
    animation: moveRightTop 0.5s forwards;
}
.menu-btn.open span:nth-child(3) {
    transform: translate(-5px, 5px);
    animation: moveLeftBottom 0.5s forwards;
}
@keyframes moveRightTop {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(8px, -8px);
    }
}
@keyframes moveLeftBottom {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-5px, 5px);
    }
}

.categoriasSp span{

    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-size-adjust: 100%;
    text-align: left;
}

.btnIngresar form button {
    position: relative;
    border: 0;
    list-style: none;
    background: transparent;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    line-height: 24px;
}

.btnIngresar form button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s ease;
}

.btnIngresar form button:hover::after {
    width: 100%;
}

.btnIngresarImg img{

    vertical-align: middle;
    margin-right: 1px;
    margin-top: 2px;
}

.btnRegister form button{

    
    position: relative;
    border: 0;
    margin-top: 2px;
    list-style: none;
    background: transparent;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    line-height: 24px;
}


.btnRegister form button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    top: 110%;
    height: 2px;
    background-color: black;
    transition: width 0.5s ease;
}

.btnRegister form button:hover::after {
    width: 100%;
}


.log img {

    height: 40px;
    width: 40px;
    padding-top: 20px;
    padding-left: 5px;
}

.txt-order{

    height: auto;
    width: auto;
    padding-top: 15px;
    padding-left: 10px;

}

.encabezado {

    font-size: 16px;

    color: orange;

}

.strong2 strong {

    font-weight: 1000;
    color: black;
}

.tittle-cantante h3{

    font-size: 25px;
    font-weight: 1000;
    color: black;

}

.fecha p {

    padding-top: 5px;
    font-size: 14px;
    font-weight: 1000;
    color: gray;
}