:root{

    --width-colum: 200.89px;
    --width-row: 372.44px;

}

.list-menu{

    display: grid;
    margin-left: 200px;
    margin-top: 10px;
    grid-template-columns: 40px 5px 45px;
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
}


.navbar{

    display: grid;
    margin-left: 0px;
    margin-top: 0px;
    grid-template-columns: 300px 180px 110px 300px 500px 265px 200px;
    grid-template-rows: 124px ; 

}



.main-components{

    
    display: grid;
    margin-left: 5%;
    margin-top: 2%;
    grid-template-columns: 1200px 540px ;
    grid-template-rows: 2400px; 
}

.caugalist-container{

    display: grid;
    margin-left: 0px;
    margin-top: 0px;
    grid-template-columns: 975px ;
    grid-template-rows: 2000px;

}

.event-container{

    display: grid;
    margin-left: 0px;
    margin-top: 0px;
    grid-gap: 7px;
    padding: 0px 0px;
    grid-template-columns: 588.5px 588.5px ;
    grid-template-rows: var(--width-row) var(--width-row) var(--width-row) var(--width-row) var(--width-row) var(--width-row) ;
}

.img-event-container{

    display: grid;
    margin-left: 0px;
    margin-top: 0px;
    padding: 20px 55px;
    grid-template-columns: 392.5px;
    grid-template-rows: 179.89px;

}

.event-txt-img{


    display: grid;
    margin-left: 55px;
    margin-top: 25px;
    padding: 0px 0px;
    grid-template-columns: 50px 431.5px;
    grid-template-rows: 130.5px;
    overflow: hidden;

}


.img-destacados-container{

    display: grid;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 7px;
    padding-right: 20px;
    row-gap: 17px;
    grid-template-columns: 1;
    grid-template-rows: 50px var(--width-colum) var(--width-colum) var(--width-colum) var(--width-colum) var(--width-colum) 50px 140px 90px;

}

.destacados{

    height: 1550px;
}

